---
layout: default
---

<div class='o-wrapper'>
  <!-- <div class="twitch">
    <div class="twitch-video">
      <iframe
        src="https://player.twitch.tv/?channel=dor3nz&parent=dor3nz.com&autoplay=false"
        frameborder="0"
        scrolling="no"
        allowfullscreen="true"
        height="100%"
        width="100%">
      </iframe>
    </div>
    <div class="twitch-chat">
      <iframe
        frameborder="0"
        scrolling="no"
        src="https://www.twitch.tv/embed/dor3nz/chat?parent=dor3nz.com"
        height="100%"
        width="100%">
      </iframe>
    </div>
  </div> -->

  <div class='o-grid'>
    {% for post in paginator.posts %}
      {% include post-card.liquid %}
    {% endfor %}
  </div>

  <div class='o-grid'>
    {% include pagination.html %}
  </div>
</div>
