<li class="c-nav__item" role="presentation">
  <a class="c-nav__link" href="https://www.twitter.com/ItsGenis/">Twitter</a>
</li>

<li class="c-nav__item" role="presentation">
  <a class="c-nav__link" href="https://github.com/ItsGenis">Github</a>
</li>

<li class="c-nav__item" role="presentation">
  <a class="c-nav__link" href="https://www.linkedin.com/in/genismatutes/">LinkedIn</a>
</li>

{% for page in site.pages %}
  {% unless page.name == '404.md' %}
    {% if page.title
%}
      <li class="c-nav__item" role="presentation">
        <a class="c-nav__link" href="{{ page.url | prepend: site.baseurl }}">{{
    page.title
  }}</a>
      </li>
    {% endif %}
  {% endunless %}
{% endfor %}
